body, div, h2, p, button {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url('banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

body::before,
body::after {
    content: "";
    background: inherit;
    position: fixed;
    filter: blur(10px) brightness(60%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
}

#finland-map
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #6b6b6b #f1f1f1;
    -webkit-overflow-scrolling: touch;
    max-height: 220px;
}

#finland-map::-webkit-scrollbar 
{
    width: 12px;
}

#finland-map::-webkit-scrollbar-thumb 
{
    background: rgba(16, 33, 49, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
}

#finland-map::-webkit-scrollbar-thumb:hover
{
    background: linear-gradient(rgba(98, 124, 192, 0.2), rgba(153, 152, 152, 0.1)) !important;
}

#finland-map::-webkit-scrollbar-track 
{
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

#booking-container
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#map {
    margin-top: 10px;
    border-radius: 25px;
    width: 50%;
    border: 2px groove rgba(50, 64, 71, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.schema-container
{
    background: linear-gradient(rgba(253, 253, 253, 0.2), rgba(232, 232, 236, 0.1)) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error-message,
.success-message {
  text-align: center;
  padding: 20px;
  font-size: 24px;
  border-radius: 4px;
}

.error-message {
    width: 50%;
    background-color: rgba(49, 10, 10, 0.5);
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #6b6b6b #f1f1f1;
    -webkit-overflow-scrolling: touch;
    max-height: 220px;
}

.error-message:-webkit-scrollbar 
{
    width: 12px;
}

.error-message::-webkit-scrollbar-thumb 
{
    background: rgba(49, 16, 16, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
}

.error-message::-webkit-scrollbar-thumb:hover
{
    background: linear-gradient(rgba(192, 98, 98, 0.2), rgba(153, 152, 152, 0.1)) !important;
}

.error-message::-webkit-scrollbar-track 
{
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.success-message {
    background-color: rgba(30,122,32,0.3);
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}   

#trip-details-container {
    width: 80%;
    margin: 20px;
    color: white;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: rgba(32, 52, 70, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.trip-map {
    margin-top: 20px;
    height: 200px;
    border-radius: 10px;
    background: rgba(18, 30, 41, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.button-enroll, .button-cancel-enroll
{
  color: white;
  line-height: 50px;
  flex: 1;
  text-align: center;
  margin: 5px;
  font-size: 20px;
  margin-top: 10px;
  padding: 0 25px;
  transition: background 0.3s;
  border-radius: 15px;
  cursor: pointer;
  border: 1px groove rgba(255, 255, 255, 0.4);
  height: 50px;
}

.button-enroll
{
    background-color: rgba(69, 105, 158, 0.9) !important;
}

.button-cancel-enroll
{
    background-color: rgba(184, 32, 32, 0.4) !important;
}

.button-enroll:hover
{
  background: rgba(165, 165, 165, 0.8) !important;
}

.button-cancel-enroll:hover
{
    background-color: rgba(221, 88, 88, 0.9) !important;
}

.leaflet-marker-icon:hover {
    opacity: 0.7;
}

.leaflet-marker-icon.selected {
    filter: brightness(1.2);
}

.leaflet-marker-icon.clicked {
    filter: hue-rotate(45deg);
}

.leaflet-tile {
    filter: hue-rotate(12deg) !important;
}